@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* #footer {
    position:fixed;
    bottom:0;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: #a7a7a7;
    text-align: center;
    font-size: .5rem;
    height: 2px;
} */

#footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#footer p{
    font-size: 1.0rem;
    text-align: center;
    font-family: 'Koulen', cursive;
    text-align: center;
}