#updateButton{
    height:25px;
    margin-right: 10px;
}

#userPostPage{
    height: 100%;
}

#updatedPostContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#overall{
    border: 1px solid black;
    margin: 10px;
    height: 500px;
    width: 300px;
}

#postImage{
    height: 250px;
    width: 350px;
}

#deleteButton{
    height:25px;
}

#oldComment{
    text-align: center;
}

#updatePostsSection #postTitle{
    font-size: 1.5rem;
}

#newComment{
    margin: 10px;
    width: 250px;
    height: 100px;
}

#welcomeTitle{
    text-align: center;
    font-size: 1.5rem;

}

#postsBelow{
    text-align: center;
    font-size: 1.3rem;
}